html{
    color: #ffffff;
    font-family: 'Abril Fatface', serif;
}

body{
    background-image: url(../img/anime-pokémon-472046.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.current-page{
    text-decoration: underline;
}

.pokedex-title{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 250%;
    height: 15vh;
}

.pokedex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center ;
}

.pokedex-details{
    display: flex;
    flex-direction: column;
    width: 30vh;
    align-items: center;
    margin-bottom: 5vh;
}

.pokedex-details-type-liste>li{
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    border-radius: 5px;
    color: white;
    font-size: 75%;
    margin-bottom: 2px;
    min-height: 2vh;
}

.pokedex-details-type-liste{
    min-height: 6vh;
}

.pokedex-details-typebox-steel{
    background-color: #AAAABB;
}
.pokedex-details-typebox-fighting{
    background-color: #BB5544;
}
.pokedex-details-typebox-dragon{
    background-color: #7766EE;
}
.pokedex-details-typebox-water{
    background-color: #3399FF;
}
.pokedex-details-typebox-electric{
    background-color: #FFBB33;
}
.pokedex-details-typebox-fire{
    background-color: #FF4422;
}
.pokedex-details-typebox-ice{
    background-color: #77DDFF;
}
.pokedex-details-typebox-bug{
    background-color: #AABB22;
}
.pokedex-details-typebox-normal{
    background-color: #BBAABB;
}
.pokedex-details-typebox-grass{
    background-color: #77CC55;
}
.pokedex-details-typebox-poison{
    background-color: #AA5599;
}
.pokedex-details-typebox-psychic{
    background-color: #FF5599;
}
.pokedex-details-typebox-rock{
    background-color: #BBAA66;
}
.pokedex-details-typebox-ground{
    background-color: #DDBB55;
}
.pokedex-details-typebox-ghost{
    background-color: #6666BB;
}
.pokedex-details-typebox-dark{
    background-color: #665544;
}
.pokedex-details-typebox-flying{
    background-color: #6699FF;
}
.pokedex-details-typebox-fairy{
    background-color: #fdb9e9;
}

.pokemon-page-p{
    font-size: xxx-large;
}

.pokemon-page-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-page-img{
    width: 25%;
}

.pokemon-page-stats{
    font-size: x-large;
}

.stat-bar{
    background-color:#632B2B ;
    border-radius: 15px;
    width: 255px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
}

.stat-bar-full{
    color: white;
    background-color:white ;
    border-radius: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
}
.stat-bar-empty{
    color: #632B2B ;
    background-color:#632B2B ;
    border-radius: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
}

.pokemon-statistiques-tr{
    margin: 10px;
}

.pokemon-page-switch-pokemon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon-page-switch-pokemon>button{
    width: 20%;
    height: 10%;
}

.pokedex-nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pokedex-title-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: row;
}

.nav-bar{
    position: absolute;
    right: 11%;
    height: 16vh;
    display: flex;
    align-items: center;
    gap: 4vh;
}

.pokedex-title-nav-li{
    color:  #ffffff; 
}

.types-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
    margin: 4vw 0vw;
}

.types-div-details{
   display: flex;
   flex-direction: row;
} 

.type-box{
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 15px;
    min-width: 12vh;
    height: 3vh;
    text-decoration: none;
    color: #ffffff;
}

.add-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh;
    text-decoration: none;
    color: #ffffff;
}

.add-button img{
    height: 7vh;
}

.my-team{
    display: flex;
}