<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">   
    <!-- <script src="/js/addMorePokemon.js" defer ></script> -->
    <script src="/js/dynamisme.js" defer ></script>
    <title>Poké Happy</title>
</head>
<body>
    <div class="pokedex-nav-bar" >
        <div class="pokedex-title-div">
            <h2 class="pokedex-title"><a class="current-page pokedex-title-nav-li" href="/">Poké Happy</a></h2>
            <nav class="nav-bar">
                <a href="/types" class="pokedex-title-nav-li">Types</a>
                <a href="/team" class="pokedex-title-nav-li">My Team</a>
            </nav>
        </div>
    </div>