<%- include('./partials/header') %>

<div class="game-div">

  <img class="pokemon-to-find" src="<%= pokemon.image %>" alt="">


    <div class="guess-pokemon-div">
        <label class="" for="username">Nom du pokemon : </label>
        <p id="name-to-guess" hidden> <%= frenchName %> </p>
        <input id="user-guess"  placeholder="Name" type="text">
        <button type="submit" onclick="handleTheGuess();">Guess</button>
    </div>


   
</div>

<%- include('./partials/footer') %>