<%- include('./partials/header') %>

<div class="container-main-div-login">
    <div id="popupLogin" class="main-div-login">
        <div class="login-title"><p>Login</p></div>
        <div class="login-form">
            <fieldset>
              <% if (message) { %>
              <div><%= message %></div>
              <% } %>
          <form class="login-page-form" method="POST" action="/login">
            <div class="login-form-input">
                <label class="login-form-username-label" for="username">Pseudo</label>
              <input class="login-form-username-input" for="username" placeholder="Username" type="username" id="username" name="username" required>
            </div>
            <div class="login-form-input">
                <label class="login-form-password-label" for="password">Mot de passe</label>
              <input class="login-form-password-input" for="password" placeholder="Password" type="password" id="password" name="password" required>
            </div>
        </div>
        <div class="login-submit">
          <button class="admin-login-button" type="submit">Reprendre ma partie</button>
        </div>
         </form>
         </fieldset>
      </div>
      <a href="/signup">Je ne suis pas encore un dresseur</a>
    </div>

<%- include('./partials/footer') %>